*{
    margin: 0;
    padding: 0;
}

/* header section */

header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #a5c6ed;
    align-items: center;
} 

/* logo */

.logo{
    margin-left: 10px;
}

.logoImg{
    border-radius: 50%;
    height: 70px;
    margin-left: 28px;
}

/* nav bar */

.navUl{
    display: flex;
    justify-content: space-between;
    
}


.navUl > li{
    margin: 30px;
    list-style: none;
}

.navUl > li > a{
    text-decoration: none;
    color: black;
}

/* search bar */

.propertyId{
    padding: 0 0 0 10px;
    height: 25px;
    width: 250px;
    border: none;
    border-radius: 10px;
}

.propertyId::placeholder{
    padding-left: 12px;
    opacity: 0.9;
}

/* login */

#loginBtn{
    height: 40px;
    width: 58px;
    border-radius: 30% 0 30% 0;
    margin-right: 25px;
}
